


    <!--<div class="container">
        <div class="row">-->

            <div class="col-md-9">
                <div class="page-header">

                    {{#documentation}}
                        <h3 id="{{uniqueId}}"><a href="#{{uniqueId}}">{{title}}</a></h3>
                        {{md content}}
                    {{/documentation}}
                </div>

                {{#resources}}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 id="{{uniqueId}}" class="panel-title">{{#if displayName}}{{displayName}}{{/if}}{{#unless displayName}}{{relativeUri}}{{/unless}}</h3>
                        </div>

                        <div class="panel-body">
                            {{#if description}}
                                <div class="top-resource-description">
                                    {{md description}}
                                </div>
                            {{/if}}

                            <div class="panel-group">{{> resource}}</div>
                        </div>
                    </div>
                {{/resources}}
            </div>
    <!--    </div>
    </div>-->





